@use 'base/variables' as va;
//----------------------------------------------------
.tarjeta3,
.tarj3-titulo,
.tarjeta3-btn{
    display: flex;
    flex-direction: column;
}


.tarjeta3{
    padding: 2rem 3rem;
    border: solid 2px rgb(0, 68, 136);;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(25, 41, 185, 0.684);
    row-gap: 0.5rem;
    width:200px;
    background-color: rgba(0, 0, 0, 0.9);

    h3{
        color: rgb(0, 68, 136);
        font-size: 100%;
    }

    .tarjeta3-contenido{
        display: flex;
        flex-direction: row;
        place-items: center;
        column-gap: 1.5rem;
        padding-bottom: 0.5rem;
        p{
            color: rgb(0, 124, 249);
            font-size: 90%;
        }
        
    }

    .tarjeta3-btn{
        .boton4{
            padding: 0.5rem 1.8rem;
            text-transform: none;
            background-color: rgba(75, 156, 255, 0.725);

        }
       
    }

    svg{
        stroke: va.$color_bg2;
        width: 40px;
        height: 40px;
    }
}
