@use 'base/variables' as va;


//BOTON MODELO 1
//------------------------------
.btn,
.btn-Cont{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

.btn {
    width: 45px;
    height: 45px; 
    max-width: 15vw;
    max-height: 15vw;
    border: none;
    position: relative;
    border-radius: 5px;
    transition: all .3s;
    padding: 0;

    .btn-Cont,
    .btn-bg{
        width: 100%;
        height: 100%;
    }

    .btn-Cont{
        backdrop-filter: blur(0px);
        letter-spacing: 0.8px;
        border-radius: 10px;
        transition: all .3s;
        border: 2px solid rgba(2, 25, 80, 0.93);
        z-index: 2;
        box-shadow: 0 0 10px rgba(2, 14, 70, 0.999);

        &.web-bd{
            border: 2px solid rgba(1, 159, 221, 0.999);
        }
        &.github-bd{
            border: 2px solid rgba(0, 3, 5, 0.999);
        }
        &.linkedin-bd{
            border: 2px solid rgba(0, 52, 111, 0.999);
        }
        &.grabcad-bd{
            border: 2px solid rgba(136, 0, 0, 0.999);
        }

        svg{
            width: 80%;
            height: 80%; 
        }
    }

    .btn-bg{
        position: absolute;
        content: "";
        z-index: 1;
        border-radius: 10px;
        pointer-events: none;
        transition: all .3s;

        &.web{
            background: va.$color_bg2;
        }

        &.github{
            background: va.$color_github;
        }

        &.linkedin{
            background: va.$color_linkedin;
        }

        &.grabcad{
            background: va.$color_grabcad;
        }

    }
        
  }
  
.btn:hover .btn-bg {
transform: rotate(35deg);
transform-origin: bottom;
box-shadow: 0 0 10px rgba(0, 183, 255, 0.956);
}

.btn:hover .btn-Cont{
background-color: rgba(1, 0, 3, 0.523);
backdrop-filter: blur(4px);
box-shadow: none;
}


///BOTONES MODELO2
//------------------------------
.btn2{
    //width: 165px;
    min-height: 62px;
    max-height: 10vw;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #000000ca;
    transition: 0.1s;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    p{
        font-family: va.$fuente_parrafo1;
        font-weight: 700;
        font-size: 2rem;
    }
  }
  
  .btn2::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(177, 7, 168) 17.8%, rgb(2, 74, 255) 100.2% );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .btn2:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgb(0, 14, 140) 17.8%, rgb(7, 2, 51) 100.2% );
    transition: 0.5s;
   }


   ///BOTONES MODELO2
//------------------------------
.btn3 {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.3em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: va.$color_bg2;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;

    a{
        color: va.$color_bg2;
    }
  }
  
  .btn3 .btn3-span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid va.$color_bg2;
  }
  
  .btn3 .btn3-span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: va.$color_blanco;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  .btn3:hover .btn3-span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: va.$color_bg2;
  }
  
  .btn3:hover {
    a{
        color: white;
    }
    color: white;
  }
  
  .btn3:active .btn3-span::before {
    background: va.$color_bg2;
  }