@use 'base/variables' as va;


//BOTON MODELO 1
//------------------------------
.btn,
.btn-Cont{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

.btn {
    width: 45px;
    height: 45px; 
    max-width: 15vw;
    max-height: 15vw;
    border: none;
    position: relative;
    border-radius: 5px;
    transition: all .3s;
    padding: 0;

    .btn-Cont,
    .btn-bg{
        width: 100%;
        height: 100%;
    }

    .btn-Cont{
        backdrop-filter: blur(0px);
        letter-spacing: 0.8px;
        border-radius: 10px;
        transition: all .3s;
        border: 2px solid rgba(2, 25, 80, 0.93);
        z-index: 2;
        box-shadow: 0 0 10px rgba(2, 14, 70, 0.999);

        &.web-bd{
            border: 2px solid rgba(1, 159, 221, 0.999);
        }
        &.github-bd{
            border: 2px solid rgba(0, 3, 5, 0.999);
        }
        &.linkedin-bd{
            border: 2px solid rgba(0, 52, 111, 0.999);
        }
        &.grabcad-bd{
            border: 2px solid rgba(84, 0, 136, 0.999);
        }

        svg{
            width: 80%;
            height: 80%; 
        }
    }

    .btn-bg{
        position: absolute;
        content: "";
        z-index: 1;
        border-radius: 10px;
        pointer-events: none;
        transition: all .3s;

        &.web{
            background: va.$color_bg2;
        }

        &.github{
            background: va.$color_github;
        }

        &.linkedin{
            background: va.$color_linkedin;
        }

        &.grabcad{
            background: va.$color_grabcad;
        }

    }
        
  }
  
.btn:hover .btn-bg {
transform: rotate(35deg);
transform-origin: bottom;
box-shadow: 0 0 10px rgba(255, 255, 255, 0.956);
}

.btn:hover .btn-Cont{
background-color: rgba(1, 0, 3, 0.523);
backdrop-filter: blur(4px);
box-shadow: none;
}


///BOTONES MODELO2
//------------------------------
.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    gap: 10px;
    background-color: #007ACC;
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;

  
    .text {
        color: white;
        font-size: 0.8em;
        transition: 400ms;
    }

    svg path{
        transition: 400ms;
        stroke: va.$color_blanco;
        fill: va.$color_blanco;
      }

      svg{
        width: 25px;
        height: 25px;
      }

      
    &.arduino-bg{
        &:hover {
        background-color: transparent;
        outline: 3px va.$color_arduino solid;
        svg path {
            fill: va.$color_arduino ;
            stroke: va.$color_arduino ;
            }
        }
    }
    &.spss-bg{
        &:hover {
        background-color: transparent;
        outline: 3px va.$color_spss solid;
        svg path {
            fill: va.$color_spss ;
            stroke: va.$color_spss ;
            }
        }
    }

    &.unity-bg{
        &:hover {
        background-color: transparent;
        outline: 3px va.$color_unity solid;
        svg path {
            fill: va.$color_unity ;
            stroke: va.$color_unity ;
            }
        }
    }

    &.powerbi-bg{
        &:hover {
        background-color: transparent;
        outline: 3px va.$color_powerbi solid;
        svg path {
            fill: va.$color_powerbi ;
            stroke: va.$color_negro ;
            }
        }
    }
}

   ///BOTONES MODELO2
//------------------------------
.btn3 {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.3em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: va.$color_bg2;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;

    a{
        color: va.$color_bg2;
    }
  }
  
  .btn3 .btn3-span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid va.$color_bg2;
  }
  
  .btn3 .btn3-span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: va.$color_blanco;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  .btn3:hover .btn3-span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: va.$color_bg2;
  }
  
  .btn3:hover {
    a{
        color: white;
    }
    color: white;
  }
  
  .btn3:active .btn3-span::before {
    background: va.$color_bg2;
  }


  //BOTON MODELO 4
  //---------------------------

  .btn4 {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 10px;
    color: #ffffff;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  .btn4{
    &:hover{
        &:focus {
            color: #000000;
            background: va.$color_bg2;
            border: 1px solid #008cff;
            box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
            0 0 100px #008cff;
        }

    }

  }
  