@use 'base/variables' as va;
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: $fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;
}

p {
    color: $blanco;
    font-size: 2rem;
}

.contenedor {
   // scroll-snap-align: start;
    width: 95%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 5rem 5rem;
    background: linear-gradient(to bottom, #0000008e 10%, #0a007a00 50%, #0000008d 100%);
}
a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: $fuente_principal;
    margin: 2.5rem;
    font-weight: $regular;
    text-align: center;
    color: va.$color_titulos;
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

button{
    &:hover{
        cursor: pointer;
    }
}