@use 'base/variables' as va;

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: va.$fuente_titulo;
    font-size: 1.6rem;
    line-height: 1.6;
}

p {
    font-family: va.$fuente_parrafo;
    color: va.$color_negro;
    font-size: 2rem;
    line-height: 1.4;
    margin: 0;
}

a {
    text-decoration: none;
    color: va.$color_negro;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    font-family: va.$fuente_titulo;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 3.6rem;
    color: va.$color_bg1;
}
h2 {
    font-size: 3.4rem;
    color: va.$color_bg2;
}
h3 {
    font-size: 2.5rem;
    color: va.$color_bg2
}
h4 {
    font-size: 2rem;
}

button{
    &:hover{
        cursor: pointer;
    }
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem 5rem;
}

.titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    .barra{
        width:200px;
        height:4px;
    }
}