/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}//MEDIA QUERY

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin boton($bgColor, $display){
    background-color: $bgColor;
    color: $blanco;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2rem;
    display: $display;
    border: none;

    &:hover{
        background-color: darken($bgColor, 10);
        &:hover{
            cursor: pointer;
        }
    }

}