@use 'base/variables' as va;
//----------------------------------------------------

.seccion-certificado {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
    justify-content: center;

    @include telefono{
        grid-template-columns: 1fr;
      }
      @include tablet{
        grid-template-columns: 40% 60%;
      }
    
      @include desktop{
        grid-template-columns: 25% 75%;
      }

    p{
        text-align: justify;
    }

    .certificado-opciones{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        row-gap: 3rem;
        padding: 4rem 0;
        background-color: rgba(41, 144, 255, 0.5176470588);

        .titulos{
          h1{
            font-size: 2.5rem;
          }
          h3{
            font-size: 1.8rem;
          }
        }

    }
}

.certificado-aptitudes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 1rem;
  .aptitud{
    display: flex;
    place-items: center;
    column-gap: 0.4rem;
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 20px;
    padding: 0.5rem 1rem;

    p{
      font-size: 90%;
      color: rgb(51, 180, 255);
    }
  }


  svg{
    width: 15px;
    height: 15px;
    stroke: rgb(255, 255, 255);
  }
}

.certificado-contenido{
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .certificado-descripcion{
    display: flex;
    flex-direction: column;
    place-items: center;
    row-gap: 1rem;
    img{
      max-width: 250px;
    }
  }

  span{
    color: va.$color_bg2;
    font-family: va.$fuente_hack;
    font-weight: 700;
  }
}

.certificado-curso{
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap:wrap;

}