@use 'base/variables' as va;
//----------------------------------------------------

.curso2,
.curso2-img,
.curso2-descripcion,
.curso2-datos,
.curso2-datos-inf{
    display: flex;
}


.curso2{
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    .curso2-img{
        position: relative;
        justify-content: center;
        width: 100%;

        img{
            width: 100%;
        }       
    }

    .curso2-descripcion{
        flex-direction: column;
        row-gap: 1.8rem;
        padding: 1.5rem 2rem;
        width: 100%;

        h3{
            line-height: 1;
            color: va.$color_bg1;
        }

        p{
            font-family: va.$fuente_parrafo;
            font-size: 100%;
            font-weight: 400;
        }

        a{
            font-size: 20px;
            font-weight: 700;

            span{
                font-size: 25px;
            }

            &:hover{
                color: rgb(255, 255, 255);
            }
        }
        
    }
    .curso2-informacion{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        .curso2-inf{
            padding-left: 1rem;
            font-size: 1.3rem;
        }
    }
    
}


.curso2-datos{
    column-gap: 2rem;
    .curso2-datos-inf{
        justify-content: center;
        align-items: center;
        column-gap: 6px;
        font-size: 0.8em;
        svg{
            width: 25px;
            height: 25px;
        }
    }
}

.color-powerbi{
  background-color: va.$color_powerbi;
  svg{
    stroke: #534700;
  }

  a{
    color: #000000;
  }
  
}

.color-electronica{
    background-color: #75c300;
    svg{
      stroke: #0c5300;
    }
  
    a{
      color: #ffffff;
    }
    
  }

  .color-telecomunicaciones{
    background-color: va.$color_bg2;
    svg{
      stroke: #0000ff;
    }
  
    a{
      color: #0a025c;
    }
    
  }

  .color-web{
    background-color: #9bc4fa;
    svg{
      stroke: #3940fb;
    }
  
    a{
      color: #000000;
    }
    
  }


   
 