@use 'base/variables' as va;
//----------------------------------------------------
.header{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  padding: 2rem 2rem;
  background-color:rgb(0, 0, 0);
  position: relative;
  z-index: 99;

  @include telefono{
    grid-template-columns: 1fr;
  }
  @include tablet{
    grid-template-columns: 1fr 1fr;
  }

  @include desktop{
    grid-template-columns: 1fr 4fr 1fr;
  }

  .header-logo{
    display: flex;
    justify-content: center;
    @include tablet{
      justify-content: flex-start;
    }

    img{
      max-width: 160px;
      filter: drop-shadow(0px 0px 20px rgba(2, 51, 66, 0.8));

      &:hover{
          filter: drop-shadow(0px 0px 30px rgba(2, 104, 238, 0.9));
      }
    }
  }

  .header-amburguesa{
    display: flex;
    display: visibility;
    justify-content: center;
    @include tablet{
      display: none;
   }
    @include desktop{
      display: none;
   }

    svg{
      stroke: va.$color_blanco;
    }

    &:hover{
      cursor: pointer;
    }
  }

  .header-enlaces{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
    justify-content: center;
    align-items: center;

    //amburguesa
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: visibility 0.1s linear, opacity 0.4s ease-in-out, max-height 0.3s ease;
    &.activa-anburguesa {
      visibility: visible;
      opacity: 1;
      max-height: 100%;
    }
    
    @include telefono{
      flex-direction: column;
    }
    @include tablet{
        flex-direction: row;
        grid-column: 1/3;
        visibility: visible;
        opacity: 1;
        max-height: 100%;
    }
  
    @include desktop{
        flex-direction: row;
        grid-column: 2/3;
        visibility: visible;
        opacity: 1;
        max-height: 100%;
    }
    a{
      display: flex;
      font-size: 20px;
      color: va.$color_blanco;
      font-family: va.$fuente_parrafo;


      &:hover{
        color: va.$color_bg2;
        font-size: 21px;
      }
    }

    .estado-activo{
      border-radius: 8px;
      padding: 0.5rem 1rem;
      background-color: #2990ff84;
      &:hover{
        color: white;
      }
    }
    
  }

  

  .header-btn{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    padding: 0 20px;

    @include tablet{
      grid-column: 2/3;
      grid-row: 1/2;
      justify-content: flex-end;
    }
  
    @include desktop{
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }

}


//LISTA DESPLEGABLE HEADER
//-----------------------------------
.dropdown {
  float: left;
  overflow: hidden;
  .drop-boton {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .8rem;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: va.$fuente_parrafo;
    height:45px;

    &:hover{
      color: va.$color_bg2;
      font-size: 21px;
    }
    svg{
      max-width: 20px;
      max-height: 20px;
    }
  }
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  z-index: 5;
  p{
    color: rgb(255, 255, 255);
  }

  a{
    float: none;
    padding: 12px 12px;

    &:hover{
      background-color: #2990ff84;
      p{
        color: rgb(255, 255, 255);
      }

    }
  }

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


