@use 'base/variables' as va;
//----------------------------------------------------
.header{
    button{
      background-color: transparent;
      padding: 0; // Elimina el espacio interno
      margin: 0;// Elimina el espacio exterio
      width: 40px; 
      height: 40px; 

  }

    background-color: va.$negro;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    grid-row-gap: 25px;
    min-height: 8rem;
    width: 100%;
    padding: 2rem 3rem;
    @include telefono{
      grid-template-columns: auto ;
    }
    @include tablet{
        grid-template-columns: auto auto;
        padding: 3rem 5vw;
    }

    @include desktop{
        padding: 3rem 2vw;
        grid-template-columns: auto auto auto;
    }

    .header-logo{ 
      justify-self: center; 
      height: 100%; 
      max-width: 20rem;

      //RESPONSIVE
      @include telefono{
        justify-self: center;
      }
      @include tablet{
        justify-self: start;
      }
  

        img{
          display: block;
          margin: auto 0;
          height: auto;
          width: 80%;
          filter: drop-shadow(0px 0px 10px rgba(128, 225, 255, 0.8));

          &:hover{
              filter: drop-shadow(0px 0px 20px rgba(43, 255, 0, 0.9));
          }
      }
    }
//--------------------------------------------------
    .header-links,
    .cont-enlace {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;}


    .header-links{
      justify-self: center;
        //RESPONSIVE
        @include telefono{
          justify-self: center;
        }
        @include tablet{
          justify-self: end;
        }
    
        @include desktop{
          justify-self: center;
        }

      .cont-enlace{
        text-align: center;
        flex-direction: column;
        font-size: 4vw;

        .enlace {
          width: 100px;
          cursor: pointer;
          transition: 0.3s linear;
  
          &:hover {
            width: 120px;
            transition: 0.4s linear;
          }
        }

        //RESPONSIVE
        @include telefono{
          flex-direction: row;
          font-size: 2rem;
        }
        @include tablet{
          flex-direction: row;
          font-size: 2rem;
        }
    
        @include desktop{
          flex-direction: row;
          font-size: 2rem;
        }
      }
      .link-header{
        color: va.$color_titulos;
        text-shadow: 0 0 15px va.$color_titulos;
        transition:  0.4s, text-shadow 0.3s;
        
        &:hover{
          font-size: 2.5rem;
          transform: scale(1.2);
          transition:  0.4s, text-shadow 0.3s;
        }
      }

    }
    
//--------------------------------
    .header-social{   
      justify-self: center;
      display: flex;
      column-gap: 2.2vw;

        //RESPONSIVE
        @include telefono{
          justify-self: center;
        }
        @include tablet{
          justify-self: center;
          grid-column: span 2;
        }
    
        @include desktop{
          justify-self: end;
          grid-column: 3/3;
        }

      svg{
        //stroke: va.$color_titulos;
        width: 30px; 
        height: 30px; 
        max-width: 10vw; 
        max-height: 10vw; 
        filter: drop-shadow(0 0 10px rgb(0, 195, 255)); /* Sombra suave */
    }

    }
}
