@use 'base/variables' as va;
.seccion-mi,
.mi-contenido{
    display: flex;
}

.seccion-mi{
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;

    .contacto-banner{

        h4{
            text-align: left;
        }
        
        span{
            font-weight: 400;
        }

        .contacto-boton{
            row-gap: 1rem;
        }

        .contactto-svg{
            display: flex;
            background-color: va.$color_bg2;
            padding: 0.5rem;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            svg{
                stroke: rgb(255, 255, 255);
                max-width: 30px;
                max-height: 30px;
            }
        }

    }
}


.mi{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    gap: 4rem;
    place-items: center;

    @include telefono{
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    @include tablet{
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
    }

    @include desktop{
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
        //gap: 4rem;
    }

    .mi-img{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            border-radius: 10px;
            width: 80%;
        }
    }

    .mi-contenido{
        p{
            text-align: justify;
        }
    }

}
