@use 'base/variables' as va;

.seccion-portafolio {

    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    p{
        text-align: justify;
        
    }

}

.portafolio-opciones{
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;

    p{
        text-align: justify;
    }
}