@use 'base/variables' as va;

.curso-proyecto{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding-top: 5rem;
}

.curso-proyecto2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem 6rem;
    

    @include telefono{
        grid-template-columns: 1fr;
      }

    @include tablet{
        grid-template-columns: repeat(2, 1fr);
      }
    
    @include desktop{
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
      }
}

.curso-informacion{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 3rem;

    @include telefono{
      grid-template-columns: 1fr;
    }
    @include tablet{
      grid-template-columns: repeat(3, 1fr);
    }

    @include desktop{
      grid-template-columns: repeat(3, 1fr);
    }

  .curso-inf-skill{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-self: flex-start;

    h4{
      text-align: left;
      padding-left: 1rem;
    }

    p{
      text-align: justify;
    }

    ul{
      margin: 0;
    }
  }

  .curso-inf-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1/1;
    background-color: va.$color_bg1;
    border-radius: 20px;
    padding: 1rem 0;
    svg{
      width: 20vw;
      height: 20vw;
    }
    p{
      font-size-adjust: 3vw;
      color: va.$color_blanco;
    }
    img{
      width: 30%;
    }

    @include telefono{
      background-color: va.$color_bg1;
      grid-row: 1/1;
      img{
        width: 30%;
      }
    }
    @include tablet{
      grid-column: 2/3;
      background-color: transparent;
      p{
        color: va.$color_negro;
      }
      img{
        width: 80%;
      }
    }

    @include desktop{
      grid-column: 2/3;
      background-color: transparent;
      p{
        color: va.$color_negro;
      }
      img{
        width: 80%;
      }
    }

  }

}
.curso-inf-titulo{
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  h3{
    text-align: left;
  }
  .curso-skill-icono{
    display: flex;
    background-color: va.$color_bg2;
    border-radius: 10px;
    padding: 1rem;
  
    svg{
      max-width: 50px;
      max-height: 50px;
      stroke: va.$color_blanco;
    }
  }

}


.curso-certificado{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 4rem;

  @include telefono{
    grid-template-columns: 1fr;
  }
  @include tablet{
    grid-template-columns: 1fr 1fr;
  }

  @include desktop{
    grid-template-columns: 2fr 1fr;
  }

.curso-cert-img{
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 90%;
    border:3px solid va.$color_bg2;
    border-radius: 20px;
    box-shadow: 8px 8px 20px rgb(81, 81, 81);
  }
}

  .curso-cert-inf{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    
    .curso-cert-cont{
      display: flex; 
      column-gap: 15px;
      .curso-skill-icono{
        display: flex;
        align-items: center;
        background-color: va.$color_bg2;
        padding: 0.8rem;
        border-radius: 10px;
        svg{
          max-width: 25px;
          max-height: 25px;
          stroke: va.$color_blanco;
        }
      }
    }

    span{
      font-size: 2rem;
      font-weight: normal;
    }
  }
}

.curso-proy-descripcion{
  p{
    text-align: justify;
    font-family: va.$fuente_titulo;
  }
}



